## PREDICTING COSTUMER CHURN

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
import warnings
from sklearn.metrics import cohen_kappa_score
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
warnings.filterwarnings('ignore')

### Reading data

In [2]:
churnData = pd.read_csv('customer_churn.csv',sep=",")
churnData.head(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

## Binary classication problem

### Exploring data

In [3]:
###### CHECK HOW THE TARGET LOOKS!!!!!
churnData['Churn'].value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

As you can see there is a huge imbalance in the representation of the two categories

In [4]:
5174/(5174+1869)

0.7346301292063041

### 1. Take numericals

In [5]:
numericals =churnData.select_dtypes(include="number")
numericals

      SeniorCitizen  tenure  MonthlyCharges
0                 0       1           29.85
1                 0      34           56.95
2                 0       2           53.85
3                 0      45           42.30
4                 0       2           70.70
...             ...     ...             ...
7038              0      24           84.80
7039              0      72          103.20
7040              0      11           29.60
7041              1       4           74.40
7042              0      66          105.65

[7043 rows x 3 columns]

In [6]:
### 2. Scale them (StandardScaler)

In [7]:
transformer =StandardScaler().fit(numericals)
standard_x= transformer.transform(numericals)
X= pd.DataFrame(standard_x)
X

             0         1         2
0    -0.439916 -1.277445 -1.160323
1    -0.439916  0.066327 -0.259629
2    -0.439916 -1.236724 -0.362660
3    -0.439916  0.514251 -0.746535
4    -0.439916 -1.236724  0.197365
...        ...       ...       ...
7038 -0.439916 -0.340876  0.665992
7039 -0.439916  1.613701  1.277533
7040 -0.439916 -0.870241 -1.168632
7041  2.273159 -1.155283  0.320338
7042 -0.439916  1.369379  1.358961

[7043 rows x 3 columns]

In [8]:
X.columns=numericals.columns
X

      SeniorCitizen    tenure  MonthlyCharges
0         -0.439916 -1.277445       -1.160323
1         -0.439916  0.066327       -0.259629
2         -0.439916 -1.236724       -0.362660
3         -0.439916  0.514251       -0.746535
4         -0.439916 -1.236724        0.197365
...             ...       ...             ...
7038      -0.439916 -0.340876        0.665992
7039      -0.439916  1.613701        1.277533
7040      -0.439916 -0.870241       -1.168632
7041       2.273159 -1.155283        0.320338
7042      -0.439916  1.369379        1.358961

[7043 rows x 3 columns]

In [9]:
### 3. Take the target separately

In [10]:
y=churnData["Churn"]
y

0        No
1        No
2       Yes
3        No
4       Yes
       ...
7038     No
7039     No
7040     No
7041    Yes
7042     No
Name: Churn, Length: 7043, dtype: object

In [11]:
### 4. Train and predict

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=100)
classification = LogisticRegression(random_state=0, multi_class='ovr').fit(X_train, y_train)
predictions = classification.predict(X_test)

In [ ]:
### 5. Check accuracy

In [14]:
confusion_matrix(y_test,predictions)

array([[1392,  155],
       [ 308,  258]])

In [15]:
churnData.Churn.value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

In [13]:
classification.score(X_test, y_test)

0.7808802650260294

### Synthetic Minority Oversampling TEchnique (SMOTE) is an over sampling technique based on nearest neighbors that adds new points between existing points. Apply imblearn.over_sampling.SMOTE to the dataset. Build and evaluate the logistic regression model. Is it there any improvement?

In [36]:
from imblearn.over_sampling import SMOTE
smote = SMOTE()
X = churnData[['tenure', 'SeniorCitizen','MonthlyCharges']]
transformer = StandardScaler().fit(X)
X = transformer.transform(X)
y = churnData['Churn']
X_sm, y_sm = smote.fit_resample(X, y)
y_sm.value_counts()

No     5174
Yes    5174
Name: Churn, dtype: int64

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X_sm, y_sm, test_size=0.3, random_state=100)
classification = LogisticRegression(random_state=0, multi_class='ovr').fit(X_train, y_train)
predictions = classification.predict(X_test)

classification.score(X_test, y_test)

0.7513687600644122

In [ ]:
##got an even lower classification score

### Tomek links are pairs of very close instances, but of opposite classes. Removing the instances of the majority class of each pair increases the space between the two classes, facilitating the classification process. Apply imblearn.under_sampling.TomekLinks to the dataset. Build and evaluate the logistic regression model. Is it there any improvement?

In [38]:
from imblearn.under_sampling import TomekLinks

tl = TomekLinks('majority')
X_tl, y_tl = tl.fit_resample(X, y)
y_tl.value_counts()

No     4694
Yes    1869
Name: Churn, dtype: int64

In [39]:
X_tl2, y_tl2 = tl.fit_resample(X_tl, y_tl)
y_tl2.value_counts()

No     4541
Yes    1869
Name: Churn, dtype: int64

In [40]:
X_train, X_test, y_train, y_test = train_test_split(X_tl, y_tl, test_size=0.3, random_state=100)
classification = LogisticRegression(random_state=0, multi_class='ovr').fit(X_train, y_train)
predictions = classification.predict(X_test)

classification.score(X_test, y_test)

0.7973590655154901

In [ ]:
##got highest classification score